<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Daily"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Daily"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu" >

    <activity
        android:name=".presentation.screen.MainActivity"
        android:exported="true"
        android:theme="@style/Theme.Daily">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="m-daily-66215.firebaseapp.com"
                android:scheme="https"
                android:pathPrefix="/__/auth/action"/>
        </intent-filter>
    </activity>

    <meta-data
        android:name="com.google.firebase.firestore"
        android:value="true" />

    <meta-data
        android:name="com.google.android.gms.providerinstaller.enable"
        android:value="true"/>
</application>

</manifest>